<samp class="output" style="display: block; white-space: pre; padding: 2em;">Detected errors in 1 module.
<span style="color: rgb(0, 168, 198);">
-- DUPLICATE DEFINITION --------------------------------------------------------</span>
<span style="color: rgb(213, 32, 12);"></span>
Naming multiple top-level values `foo` makes things ambiguous. When you say
`foo` which one do you want?
<span style="color: rgb(213, 32, 12);"></span>
<span style="color: rgb(154, 154, 154);">8|</span> <span style="color: rgb(154, 154, 154);">foo =</span>
<span style="color: rgb(213, 32, 12);">   ^^^</span>
Find all the top-level values named `foo` and do some renaming. Make sure the
names are distinct!
<span style="color: rgb(213, 32, 12);"></span>
<span style="color: rgb(213, 32, 12);"></span>
</samp> 
