<style>
table.matrix {
  width: 90%;
}

table.matrix tbody td {
  width: 33.33%;
  position: relative;
  border: 0.5em #222 solid;
}

table.matrix tbody td > * {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  vertical-align: middle;
}

table.matrix tbody td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

iframe.matrix-iframe {
  max-width: initial;
  max-height: initial;
  height:200%;
  width:200%;
  transform:scale(0.5);
  transform-origin: top left;
}
</style>
<table class="matrix" style="color:white">
  <colgroup>
    <col style="">
    <col style="">
    <col style="">
  </colgroup> 
  <thead>
    <tr>
      <td></td>
      <th scope="col">single-color</th>
      <th scope="col">multi-color</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">eager</th>
      <td>
      <div style="
        background:url(assets/racket-square.png);
        height:100%;
        width:100%;
        background-size:cover;
      "></div>
      </td>
      <td>
        <iframe class="matrix-iframe" src="assets/WeScheme.html"></iframe>
      </td>
    </tr>
    <tr>
      <th scope="row">lazy</th>
      <td>
        <iframe class="matrix-iframe" src="assets/Rust Playground.html"></iframe>
      </td>
      <td>
        <div style="
          display: flex;
          height: 100%;
          width: 100%;
          opacity: 0.5;
          justify-content: center;
          align-items: center;
        "><span>┄</span></div>
      </td>
    </tr>
  </tbody>
</table>
