<h2 style="
      margin-top: -1em;
      padding-top: 0.5em;
      text-transform: none;">
  Efficacy
</h2>
<table style="color:white">
  <thead style="display:none">
    <th scope="col">Abbr.</th>
    <th scope="col">Description.</th>
  </thead>
  <tbody>
    <tr>
      <th scope="row">DEL</th>
      <td>Deletes the problematic code wholesale.</td>
    </tr>
    <tr>
      <th scope="row">UNR</th>
      <td>Unrelated to the error message, and does not help.</td>
    </tr>
    <tr>
      <th scope="row">DIFF</th>
      <td>Unrelated to the error message, but it correctly addresses a different error or makes progress in some other way.</td>
    </tr>
    <tr>
      <th scope="row">PART</th>
      <td>Evidence that the student has understood the error message (though perhaps not wholly) and is trying to take an appropriate action (though perhaps not well).</td>
    </tr>
    <tr>
      <th scope="row">FIX</th>
      <td>Fixes the proximate error.</td>
    </tr>
  </tbody>
</table>
<cite style="font-size:0.5em; display:block; margin-top:1em;">Marceau et. al, <i>Measuring the Effectiveness of Error Messages
Designed for Novice Programmers</i></cite>
