<style scoped>
samp.output {
    display: block;
    font-family: monospace;
    text-align: left;
    font-size: 0.5em!important;
    white-space: pre-wrap;
    padding-bottom: 1em;
}
.ansi-yellow { color: yellow; }
.ansi-blue   { color: #94BFF3;   }
</style>
<samp class="output">
<span class="ansi-yellow"><strong>warning</strong></span>: <strong>unused variable: `foo`, #[warn(unused_variables)] on by default</strong>
<span class="ansi-blue"><strong> --&gt; </strong></span><span class="linejump">&lt;anon&gt;:2:9</span>
<span class="ansi-blue"><strong>  </strong></span><span class="ansi-blue"><strong>|&gt;</strong></span>
<span class="ansi-blue"><strong>2 </strong></span><span class="ansi-blue"><strong>|&gt; </strong></span>    let <span class="ansi-yellow"><strong>foo</strong></span> = 1;
<span class="ansi-blue"><strong>  </strong></span><span class="ansi-blue"><strong>|&gt; </strong></span>        <span class="ansi-yellow"><strong>^^^</strong></span>
<span class="ansi-yellow"><strong>warning</strong></span>: <strong>unused variable: `foo`, #[warn(unused_variables)] on by default</strong>
<span class="ansi-blue"><strong> --&gt; </strong></span><span class="linejump">&lt;anon&gt;:3:9</span>
<span class="ansi-blue"><strong>  </strong></span><span class="ansi-blue"><strong>|&gt;</strong></span>
<span class="ansi-blue"><strong>3 </strong></span><span class="ansi-blue"><strong>|&gt; </strong></span>    let <span class="ansi-yellow"><strong>foo</strong></span> = 2;
<span class="ansi-blue"><strong>  </strong></span><span class="ansi-blue"><strong>|&gt; </strong></span>        <span class="ansi-yellow"><strong>^^^</strong></span>
</samp>
