<style>
a.highlight {
  color: white;
  animation:rainbow 5.5s infinite;
  animation-direction: alternate;
}
@keyframes rainbow {
0%   {background-color: #ff0000;}
10%  {background-color: #ff8000;}
20%  {background-color: #ffff00;}
30%  {background-color: #80ff00;}
40%  {background-color: #00ff00;}
50%  {background-color: #00ff80;}
60%  {background-color: #00ffff;}
70%  {background-color: #0080ff;}
80%  {background-color: #0000ff;}
90%  {background-color: #8000ff;}
100% {background-color: #ff0080;}
}
a.highlight.h1 { animation-delay: -1s; }
a.highlight.h2 { animation-delay: -2s; }
a.highlight.h3 { animation-delay: -3s; }
a.highlight.h4 { animation-delay: -4s; }
a.highlight.h5 { animation-delay: -5s; }
</style>
<blockquote>Evaluating a <a class="highlight h1">function application expression</a> errored. <a class="highlight h2">3 arguments</a> were passed to the <a class="highlight h3">left side</a>. The <a class="highlight h3">left side</a> was a <a class="highlight h4">function</a> accepting <a class="highlight h5">2 arguments</a>.</blockquote>
